/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 oct. 2020, 11:00:00
    Author     : USUARIO
*/

div.elem-group {
  margin: 40px 0;
}

div.col-md-12 {
  padding: 20px;
  background-color: #a2a2a2;
  //height: 400px;
}

div.col-md-3{
  padding: 20px;
  background-color: #a2a2a2;
  width: 300px;
  //height: 400px;
}

div.col-md-8{
  width: 900px;
}

label.title {
  font-family: 'Aleo';
  font-size: 2em;
  font-weight: bold;
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1em;
  font-weight: bold;
}

select {
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: small;
  font-family: 'Aleo';
  color: black;
  width: 220px;
  padding: 8px;
}

textarea {
  vertical-align: top;
  text-align: left;
  font-size: small;
  font-family: 'Aleo';
  color: black;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 150px;
  width: 900px;
  word-break: break-word;
}

button {
  height: 50px;
  width: 150px !important;
  background: blue;
  color: white;
  border: 2px solid darkblue;
  font-size: 1em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 70px;
  //top: 200px;
}

button:hover {
  border: 2px solid black;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 1600px;
}
